[Desktop Entry]
Encoding=UTF-8
Name=Link to Convert AVI file to series of images - MATLAB Answers - MATLAB Central
Type=Link
URL=https://au.mathworks.com/matlabcentral/answers/31845-convert-avi-file-to-series-of-images?requestedDomain=www.mathworks.com
Icon=text-html
