[Desktop Entry]
Encoding=UTF-8
Name=Link to Convert Video to individual frames in Matlab - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=ZX3DbWY-Ewg
Icon=text-html
