[Desktop Entry]
Encoding=UTF-8
Name=Link to How do I install openCV to work with ROS - OpenCV Q&A Forum
Type=Link
URL=http://answers.opencv.org/question/19083/how-do-i-install-opencv-to-work-with-ros/
Icon=text-html
