[Desktop Entry]
Encoding=UTF-8
Name=Link to Video Processing in MATLAB - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=15v_9VJa020
Icon=text-html
